<!DOCTYPE html>
<html>
  <head>
    <title>Hate Comment Detection System</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="testbox">
      <form action="http://localhost:5000/output" method = "POST">
        <div class="banner">
          <h1>Hate Comment Detection System</h1>
        </div>
        
        <div class="item">
          <label for="comment">Enter Comment:<span></span></label>
          <input id="comment" type="text" name="comment" required/>
        </div>
<!--         
        <div class="item">
          <label for="email">Output:</label>
          <textarea id="Output" name="output" rows="2" cols="6"> </textarea>
        </div> -->

        <div class="btn-block">
          <button type="submit" href="/">SUBMIT</button>
        </div>
      </form>
    </div>
  </body>
</html>